html {
	font-size: 62.5%;
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}

body {
	line-height: 1;
	margin: 0;
	font-size: 1.3em;
}

h1, h2, h3, h4, h5, h6 { margin: 0 0 .5em 0; }
p { margin: 0 0 1.5em 0; }

/**
 * The Grid
 *
 */

.row {
	width: 960px;
	max-width: 100%;
	min-width: 768px;
	margin: 0 auto;
}

.column, .columns {
	float: left;
	min-height: 1px;
	padding: 0;
	position: relative;
}

.column.end { float: right; }

.one { width: 8.33333%; }
.two { width: 16.66667%; }
.three { width: 25%; }
.four { width: 33.33333%; }
.five { width: 41.66667%; }
.six { width: 50%; }
.seven { width: 58.33333%; }
.eight { width: 66.66667%; }
.nine { width: 75%; }
.ten { width: 83.33333%; }
.eleven { width: 91.66667%; }
.twelve { width: 100%; }

.push-one { left: 8.33333%; }
.push-two { left: 16.66667%; }
.push-three { left: 25%; }
.push-four { left: 33.33333%; }
.push-five { left: 41.66667%; }
.push-six { left: 50%; }
.push-seven { left: 58.33333%; }
.push-eight { left: 66.66667%; }
.push-nine { left: 75%; }
.push-ten { left: 83.33333%; }
.push-eleven { left: 91.66667%; }

.pull-one { right: 8.33333%; }
.pull-two { right: 16.66667%; }
.pull-three { right: 25%; }
.pull-four { right: 33.33333%; }
.pull-five { right: 41.66667%; }
.pull-six { right: 50%; }
.pull-seven { right: 58.33333%; }
.pull-eight { right: 66.66667%; }
.pull-nine { right: 75%; }
.pull-ten { right: 83.33333%; }
.pull-eleven { right: 91.66667%; }

.panel {
	background: #EFEFEF;
	margin: 0 .5em 1em .5em;
	overflow: hidden;
	padding: 1em; }
	.panel *:last-child {
		margin-bottom: 0;
	}

/**
 * Helper Styles
 *
 */

.clear, .row { *zoom: 1; }
.clear:before, .clear:after, .row:before, .row:after { content: " "; display: table; }
.clear:after, .row:after { clear: both; }

/**
 * Processwire Styles
 *
 */

.align_left {
	float: left;
	margin: 0 15px 10px 0;
}

.align_right {
	float: right;
	margin: 0 0 10px 15px;
}

.align_center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#editpage {
	background: #F90;
	border-radius: 2em;
	line-height: 1.6em;
	border: 0 !important;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	display: inline-block;
	padding: 0 1em;
	position: fixed;
	right: 1em;
	top: 1em;
	z-index: 1; }
	#editpage:hover {
		background: #0B0;
	}

.WireFatalError {
	background: #a30000;
	color: #fff;
	padding: 1em;
	position: relative;
	z-index: 1;
}

